---
import { getCollection } from "astro:content";
import { getStartAndEndYear, modifyBody } from "../../../lib/utils";

const training = await getCollection("trainingAndQualifications");
---

<div class="mx-36 flex flex-col text-white">
  <div class="flex-start flex justify-center">
    <div class="w-full font-montserrat text-3xl font-bold text-white lg:w-1/2">
      TRAINING AND QUALIFICATIONS
      <div class="my-6 mt-4 h-px border-0 bg-gray-500"></div>
    </div>
  </div>
  <div>
    <div class="mb-10 flex justify-center">
      <div class="w-1/2">
        {
          training.map((item) => (
            <>
              <a
                href={item.data.websiteLink}
                target="_blank"
                rel="noreferrer"
                class="text-xl font-bold text-yellow-400 hover:text-blue-400"
              >
                {item.data.title}
              </a>
              <div>
                {item.data.institution}
                {getStartAndEndYear(item.data.startDate, item.data.endDate)}
                {item.data.stillStudying ? " (Still studying)" : ""}
              </div>
            </>
          ))
        }
      </div>
    </div>
  </div>
</div>
