---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Icon } from "astro-icon";
const pageOptions = [
  "Home",
  "Blog",
  "Projects",
  "Portfolio",
  "Skills",
  "Music",
];

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header
  class="flex-row-reverse gap-5 p-5 text-white lg:flex"
  style="position: fixed; top: 0; left: 0; right: 0; z-index: 999; background-color:#0f0f0f;"
>
  <Astronav>
    <div class="block lg:hidden">
      <MenuIcon class="h-4 w-4 text-white" />
    </div>
    {console.log("Current path: ", currentPath)}
    <MenuItems class="hidden text-xl lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-5">
        {
          pageOptions.map((page) => {
            return (
              <li>
                <a
                  href={page === "Home" ? "/" : page.toLowerCase()}
                  class={`
                    ${
                      currentPath === page.toLowerCase() ||
                      (currentPath === "" && page === "Home")
                        ? "text-yellow-400 underline"
                        : ""
                    } text-base`}
                >
                  {page}
                </a>
              </li>
            );
          })
        }
      </ul>
      <div class="mx-6 mt-4 flex space-x-5 lg:mt-[0px]">
        <a href="https://github.com/juhamikael/" target="_blank">
          <Icon
            pack="ion"
            name="logo-github"
            class="w-6 hover:text-yellow-400"
          />
        </a>
        <a href="https://www.linkedin.com/in/juha-savikko/" target="_blank">
          <Icon
            pack="ion"
            name="logo-linkedin"
            class="w-6 hover:text-yellow-400"
          />
        </a>
        <a
          href="https://open.spotify.com/artist/2heJl7jzvTYoHyR5xwSSea?si=ebcdd8bcf5d9446b"
          target="_blank"
        >
          <Icon pack="bi" name="spotify" class="w-6 hover:text-yellow-400" />
        </a>
        <a href="https://discord.gg/cxp7EKw53w" target="_blank">
          <Icon
            pack="ic"
            name="outline-discord"
            class="w-6 hover:text-yellow-400"
          />
        </a>
        <a href="https://www.instagram.com/juhamikaell/" target="_blank">
          <Icon
            pack="carbon"
            name="logo-instagram"
            class="w-6 hover:text-yellow-400"
          />
        </a>
      </div>
    </MenuItems>
  </Astronav>
</header>
