---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import RecentPosts from "../components/astro/RecentPosts.astro";

import "../styles/globals.css";

const blog = await getCollection("blog");
const techPosts = blog.filter(
  (post) => post.data.subject === "Software Developement"
);

const musicPosts = blog.filter((post) => post.data.subject === "Music");
const otherPosts = blog.filter((post) => post.data.subject === "Other");

const recentTechPosts = [...techPosts].sort(
  (a, b) =>
    (new Date(b.data.createdAt) as unknown as number) -
    (new Date(a.data.createdAt) as unknown as number)
);

const recentMusicPosts = [...musicPosts].sort(
  (a, b) =>
    (new Date(b.data.createdAt) as unknown as number) -
    (new Date(a.data.createdAt) as unknown as number)
);

const recentOtherPosts = [...otherPosts].sort(
  (a, b) =>
    (new Date(b.data.createdAt) as unknown as number) -
    (new Date(a.data.createdAt) as unknown as number)
);
---

<Layout>
  <section
    class="mx-auto grid min-h-screen w-screen max-w-screen-xl grid-cols-3"
  >
    <div class="border-r border-gray-200/10 pr-4">
      <h1 class="text-center font-bold">Tech</h1>
      <hr class="my-2 border-gray-300/10" />
      <RecentPosts posts={recentTechPosts} />
    </div>
    <div class="border-r border-gray-200/10 px-4">
      <h1 class="text-center font-bold">Music Production</h1>
      <hr class="my-2 border-gray-300/10" />
      <RecentPosts posts={recentMusicPosts} />
    </div>
    <div class="px-4">
      <h1 class="text-center font-bold">Other</h1>
      <hr class="my-2 border-gray-300/10" />
      <RecentPosts posts={recentOtherPosts} />
    </div>
  </section>
</Layout>
