---
// Projects for Home page
// Should be same name as repo in github

const repositories = {
  FileOrganizer: {
    languages: ["Tauri", "Rust", "React", "Tailwind CSS"],
  },
  "juhamikael-website": {
    languages: ["Astro", "React", "Tailwind CSS"],
  },
  "macro-counter-react-fastapi-postgre": {
    languages: ["React", "FastAPI", "PostgreSQL"],
  },
  "School-fullstackproject-spotify": {
    languages: ["React", "Typescript", "Tailwind CSS"],
  },
};
const url = "https://github.com/juhamikael";
import { Icon } from "astro-icon";
import "../../styles/globals.css";
---

<div>
  <div class="flex justify-center">
    <div class="lg:w-1/2">
      <h1 class="mb-5 text-3xl font-bold underline lg:ml-5">
        Things I've built
      </h1>
    </div>
  </div>
  <div class="flex lg:justify-center">
    <div class="grid w-full lg:w-1/2 lg:grid-cols-2">
      {
        Object.entries(repositories).map(([repoName, repoData]) => (
          <>
            <div class="zoom mx-2 my-2 flex flex-col rounded-xl border border-white/10 p-4">
              <section>
                <a
                  href={`${url}/${repoName}`}
                  target="_blank"
                  class=" flex flex-row place-items-center space-x-2 text-yellow-400 hover:text-blue-400"
                >
                  <Icon pack="mdi" name="github" class="h-5" />
                  <span class="text-sm font-bold">{repoName}</span>
                </a>
              </section>

              <section class="mt-2">
                <div class="flex place-items-center space-x-2">
                  <Icon
                    pack="ic"
                    name="baseline-circle"
                    class="h-4 text-green-600"
                  />
                  <p class="text-xs">
                    {Array.isArray(repoData.languages)
                      ? repoData.languages.join(", ")
                      : repoData.languages}
                  </p>
                </div>
              </section>

              <section class="mt-4 font-bold">
                <a
                  class="flex flex-row place-items-center space-x-2 text-sm hover:text-blue-400"
                  href={`/projects#${repoName}`}
                >
                  <span> Read More</span>
                  <Icon pack="mdi" name="arrow-right" class="h-4" />
                </a>
              </section>
            </div>
          </>
        ))
      }
    </div>
  </div>
</div>
