---
import { getCollection } from "astro:content";
export const prerender = true;
import Layout from "../layouts/Layout.astro";
async function getStaticPaths() {
  const about = await getCollection("about");
  return about.map((text) => ({
    props: text,
  }));
}
const staticPath = await getStaticPaths();
const { data, render } = staticPath[0].props;
const { Content } = await render();
---

<Layout>
  <div class="flex justify-center">
    <div class="prose text-white">
      <div class="text-3xl font-bold">{data.description}</div>
      <div><Content /></div>
    </div>
  </div>
</Layout>
