---
import Layout from "../layouts/Layout.astro";
import WorkExperience from "./Portfolio/WorkExperience.astro";
import TrainingAndQualifications from "./Portfolio/Qualifications.astro";
---

<Layout>
  <div class="mx-8 grid place-content-center">
    <TrainingAndQualifications />
    <WorkExperience />
  </div>
</Layout>
